<%= form_for [@branch,@service] do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group service_salon_field">
    <label class="control-label col-sm-4">Salon Name</label>
    <div class="col-sm-8">
      <%= f.select(:salon_id, Salon.all.collect { |i| [ i.salon_name, i.id ] },{  prompt: "Select Salon"}, {:class => 'form-control input-md bgbray', :id => 'salon_select'} )%>
    </div>
  </div>

  <div class="field form-group branch_field">
    <label class="control-label col-sm-4">Branch Name</label>
    <div class="col-sm-8">
      <%= f.select(:branch_id, @salons.first.branches.collect { |i| [ i.name, i.id ] },{prompt: "Select Branch"}, {:class => 'form-control input-md bgbray'} )%>
    </div>
  </div>

  <div class="field form-group category_field">
    <label class="control-label col-sm-4">Service Category</label>
    <div class="col-sm-8">
      <%= f.select(:service_category_id, @salons.first.branches.first.service_categories.collect { |i| [ i.category, i.id ] },{prompt: "Select Service Category"}, {:class => 'form-control input-md bgbray'} )%>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Service</label>
    <div class="col-sm-8">
      <%= f.text_field :service_name, class: "form-control input-md bgbray" %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Price</label>
    <div class="col-sm-8">
      <%= f.text_field :price, class: "form-control input-md bgbray" %>
    </div>
  </div>
  
  <div class="field form-group">
    <label class="control-label col-sm-4">Discount</label>
    <div class="col-sm-8">
      <%= f.text_field :discount, class: "form-control input-md bgbray" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= f.submit "Create", class:"btn btn-block bgblue nextBtn btn-md pull-right margin-top" %>
    </div>
  </div>
<% end %>

<%= form_tag import_services_path, multipart: true do %>
  <div class="col-sm-offset-7 col-sm-5">
    <%= file_field_tag :file, class:"btn btn-block bgblue nextBtn btn-md pull-right margin-top" %>
    <%= submit_tag "Import", class:"btn btn-block bgblue nextBtn btn-md pull-right margin-top" %>
  </div>
<% end %>