<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="center">
        <h1 id="orange-head"><%= @branch.salon.salon_name %></h1>
      </div>

      <hr id="hr">

      <div class="row">
        <div class="col-md-12 col-xs-12">
          <% @service_categories.each do |category| %>
            <%= link_to category.category, services_path(branch_id: params[:branch_id],service_category_id: category.id), class: "btn btn-default btn-cat btn-sm col-md-1 col-sm-3 col-xs-3 button-border button-border-color", id: "margin-around" %>
          <% end %>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="stylist col-md-2 col-xs-12">
            <p id="stylist-head">Choose your Stylist</p>
            <% @stylist_categories.each do |stylist_category| %>
              <%#= link_to stylist_category.category, services_path(branch_id: params[:branch_id], stylist_category_id: stylist_category.id), class: "btn btn-default btn-cat btn-sm col-md-9 margin-top-ten button-border button-border-color" %>
              <div style="clear: both;"><b><%= stylist_category.category %></b></div>
              <% stylist_category.stylists.each do |stylist| %>
                <%#= stylist.name %>
                <%= link_to stylist.name, services_path(branch_id: params[:branch_id], stylist_id: stylist.id), class: "btn btn-default btn-cat btn-sm col-md-9 margin-top-ten button-border button-border-color" %>
                <br>
              <% end %>
            <% end %>
          </div>
          <div class="services col-md-6 col-sm-12 col-xs-12" id="padding-top-zero">
            <% @services.each_with_index do |service, index| %>
              <div class="service-height">
                <div class="col-md-4 font-style-service">
                  <%= service.service_name %>
                </div>
                <div class="col-md-2 service-price">
                  <% if service.discount > 0 %>
                    <strike><%= service.price %></strike>
                  <% else %>
                    <% if params[:stylist_id].present? %>
                      <% if service.serv_styls&.where(stylist_id: params[:stylist_id]).first&.price.present? %>
                        <%= service.serv_styls.where(stylist_id: params[:stylist_id]).first.price %>
                      <% else %>
                        <%= service.price %>
                      <% end %>
                    <% else %>
                      <%= service.price %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-2 font-style-service discount">
                  <%= @discount_price[index] %>
                </div>
                <div class="col-md-2">
                  <%= service.discount %>% Off
                </div>
                <div class="col-md-2">
                  <!-- Trigger the modal with a button -->
                  <i class="fa fa-info" data-toggle="modal" data-target="#myModal<%= service.id %>"></i>
                </div>
              </div>
              <div class="border-bottom"></div>
              <!-- Modal -->
              <div id="myModal<%= service.id %>" data-id='<%= service.id %>' class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><%= service.service_name %></h4>
                    </div>
                    <div class="modal-body date-container" id="container<%= service.id %>">
                      <i style='display: none;' class="mydatepicker fa fa-calendar" aria-hidden="true"></i> 
                      <%#= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-plus") + " Add", "#", id: "btn-orange", class: "add_cart_item btn btn-default btn-xs button-border", data: { id: service.id } %>
                    <!-- </div>
                    <div class="col-md-1"> -->
                      <i style='display: none;' class="fa fa-clock-o show-time" aria-hidden="true" data-id="<%= service.id %>" data-d-date="<%= service_discount_date(service) %>" data-d-time="<%= service_discount_time(service) %>" data-d-percent="<%= service_discount_percent(service) %>"></i>
                      <div class="book-time">
                        <div class="time-head">
                            <p>
                              Time
                            </p>
                        </div>
                        <div class="timer"></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="current-service-discount">Discount is available at hh:mm</div>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          </div>

          <div class="checkout col-md-4 col-sm-12 col-xs-12" id="padding-five">
            <div class="background">
              <div class="checkout-head">
                <h4 id="order-head">Your Order</h4>
              </div>
              <div class="order-detail">
                <div id="cart">
                  <% if session[:services_in_cart] && !session[:services_in_cart].empty? %>
                    <% session[:services_in_cart].uniq.each do |service| %>
                      <%= render partial: "cart_item", locals: { :@service => Service.find(service['id']), date: service['date'], time: service['time'], discount: check_discount_on_service(service['id'], service['date'], service['time']) } %>
                    <% end %>
                  <% end %>
                  <div id="customer_form" style="display: none;">
                    <%= render partial: 'customers/form' %>
                  </div>
                </div>
              </div>
              <div class="control-group margin-top-five">
                <label class="control control--radio">Cash on Delivery
                  <input type="radio" name="radio" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
              </div>
              <div class="border-bottom-dotted"></div>
              <div class="total-bill">
                <div class="col-md-1">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="col-md-4">
                  <p id="o-details">Order Details</p>
                </div>
                <div class="col-md-2">
                  <h4 id="total">Total: </h4>
                </div>
                <div class="col-md-4">
                  <h4 id="total-count"><%= @service_price_count %></h4>
                </div>
                <div class="col-md-1">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="checkout-button">
              <%= link_to 'Proceed to Checkout', '#', style: "display: #{(session[:services_in_cart] && !session[:services_in_cart].empty?) ? 'block' : 'none'};", id: 'proceed_link', class: "btn btn-default col-md-12 col-sm-12 col-xs-12 button-border" %>
            </div>
          </div>
            
        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">

  var time = '';
  var i;
  for (var x = 10; x <= 21; x++) {// A-65, Z-90
    for (var y = 0; y <= 30; y+=30) {
        if (y === 0)
          i = x + ":" + y + "0";
        else
          i = x + ":" + y;
        time += '<button class="time-button">' + i + '</button>';
    }
  }
  // document.getElementsByClassName('timer').innerHTML = time;
  $('.timer').html(time);

  <%#*$(".time-button").click(function(){%>
      <%#*//alert($(this).text());%>
      <%#*//$("#book-time").hide();%>
      <%#*var time = $(this).text();%>
      <%#*var date = $(this).parents('.service-height').find('.mydatepicker').val();%>
      <%#*console.log("time: "+time+" - date: "+date);%>
  <%#*});%>

  $("document").ready(function () {

      $('.modal').on('show.bs.modal', function (e) {
          var modal = $(this);
          setTimeout(function(){ 
            var container_id = $(modal).data('id');
            $(modal).find('.mydatepicker').Zebra_DatePicker({
              direction: 1,
              "show_icon" : false,
              always_visible: $('#container'+container_id)
            });
            $(modal).find('.mydatepicker').get(0).click();
            $(modal).find('.show-time').get(0).click();
            $('.dp_daypicker').on('click', function (event) {
              $('.current-service-discount').hide();
              var discount_time = [];
              var discount_percent = [];
              var timeValues = [];
              var i=0;
              var d_date = $(datepicker).next().data('d-date').split('|');
              var d_time = $(datepicker).next().data('d-time').split('|');
              var d_percent = $(datepicker).next().data('d-percent').split('|');
              
              var indexArray = $.map(d_date, function(elementOfArray, indexInArray) {
                      return elementOfArray === datepicker.val() ? indexInArray : null;
              });
              
              while (indexArray.length > i) {
                timeValues.push(d_time[indexArray[i]]);
                i++;
              }
              for (var x = 0; x < 25; x++) {
                var val = $($('.time-button')[x]).html();
                if( timeValues.indexOf(val) > -1 ){
                  discount_time.push(val);
                  discount_percent.push(d_percent[d_time.indexOf(val)]);
                }
              }
              if(discount_time.length > 0){
                var result = [];
                for (var i=0; i<discount_time.length; i++) {
                  result.push(discount_time[i]+" ("+discount_percent[i]+"%)");
                }
                $('.current-service-discount').html("Discount is available at " + result.join(', '));
                $('.current-service-discount').show();
              }
              // if(date !== '' && date_index > -1){
                for (var x = 0; x < 25; x++) {
                  var val = $($('.time-button')[x]).html();
                  if( timeValues.indexOf(val) > -1 ){
                    $($('.time-button')[x]).addClass('discount-cart-items');
                  } else {
                    $($('.time-button')[x]).removeClass('discount-cart-items');
                  }
                }
              // }
            });
          }, 0);
      });

      var date = '';
      var service = '';
      var id = 0;
      var discount = false;
      var datepicker = '';
      $('.mydatepicker').on('click', function (event) {
        datepicker = $(this);
      });
      $('.show-time').on('click', function (event) {
        $('.time-button').removeClass('discount-cart-items');
        var d_date = $(this).data('d-date').split('|');
        var d_time = $(this).data('d-time').split('|');
        
        date = $(this).parents('.date-container').find('.mydatepicker').val();
        service = $(this).parents('.service-height');
        id = $(this).data('id');
        
        var indexArray = $.map(d_date, function(elementOfArray, indexInArray) {
                return elementOfArray === date ? indexInArray : null;
        });
        
        var timeValues = [];
        var i=0;
        
        while (indexArray.length > i) {
          timeValues.push(d_time[indexArray[i]]);
          i++;
        }
        
        var date_index = d_date.indexOf(date);

        if(date !== '' && date_index > -1){
          for (var x = 0; x < 25; x++) {
            var val = $($('.time-button')[x]).html();
            if( timeValues.indexOf(val) > -1 ){
              $($('.time-button')[x]).addClass('discount-cart-items');
            } else {
              $($('.time-button')[x]).removeClass('discount-cart-items');
            }
          }
        }
         
        $(this).next().css('left', event.pageX + 250);
        $(this).next().css('top', event.pageY - 0);
        $(this).next().css('display', 'inline');
        $(this).next().css("position", "absolute");
        

      });
      $(".time-button").click(function(){
        if($($(this)).hasClass('discount-cart-items')){
          discount = true;
        }
          //alert($(this).text());
          //$("#book-time").hide();
          var time = $(this).text();
          var date = $(this).parents('.date-container').find('.mydatepicker').val();
          console.log("time: "+time+" - date: "+date);
          // $('#book-time').hide();
          if(date === ''){
            alert("Select Date First");
          } else {
            //var id = $(this).data("id");
            var val = $("#customer_booking_services").val();
            <%#*var price = parseFloat($(service).find('.service-price strike').html());%>
            var discounted_price = parseFloat($(service).find('.discount').html());
            var total = parseFloat($('#total-count').html());
            var total_count = 0;
            
            total_count = total+discounted_price;
            
            $("#customer_booking_services").val(val + ',' + id);
            $.ajax({
                type: "GET",
                url: "/services/"+id+"/cart_item",
                data: {
                  date: date,
                  time: time,
                  discount: discount,
                  stylist_id: "<%=params[:stylist_id]%>"
                },
                success: function(data) {
                  $("#proceed_link").show();
                  $("#cart").append(data);
                  $('#total-count').html(total_count);
                  date = '';
                  id = 0;
                  discount = false;
                  var services = $('.cart-item').length;
                  var total = 0;
                  for (var x = 0; x < services; x++) {
                    total += parseFloat($($('.cart-item #service-price')[x]).html());
                  }
                  $('#total-count').html(total);
                }
            });
          }
      });
  });
    
  $(document).on('click', '.remove-from-cart', function(e) {
    var id, service_to_remove, val;
    id = $(this).data("service-id");
    service_to_remove = $(this).data('service_id');
    
    val = $("#customer_booking_services").val();
    val = val.replace(',' + service_to_remove, '');
    
            var price = parseFloat($(this).parents('.cart-item').find('#service-price').html());
            var total = parseFloat($('#total-count').html());
            var total_count = 0;
            total_count = total-price;
            $('#total-count').html(total_count);
            
            $(this).parents('#zero-padding').remove();
            
            var services = $('.cart-item').length;
            var total = 0;
            for (var x = 0; x < services; x++) {
              total += parseFloat($($('.cart-item #service-price')[x]).html());
            }
            $('#total-count').html(total);

    $.ajax({
      type: "GET",
      url: "/services/" + id + "/remove_cart_item"
    });
  });

  $(document).on('click', function(e) {
    if ( $(e.target).closest('.show-time').length ) {
        // $("#book-time").show();
    }else if ( ! $(e.target).closest('#book-time').length ) {
        // $('#book-time').hide();
    }
  });


</script>