<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Area</th>
            <th>Salon Email</th>
          </tr>
        </thead>
        <tbody>
          <% @get_branches.each do |branch| %>
            <tr>
              <td><%= branch.name %></td>
              <td><%= branch.area %></td>
              <td><%= branch.salon_email %></td>
              <td><%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-pencil"), edit_branch_path(branch), remote: :true %></td>
              <td><%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-remove"), branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-plus") + " ADD BRANCH", new_branch_path, remote: :true, class:"col-sm-offset-4" %>
      </div>
    </div>
    <div class="col-md-6">
      <div id="data-editor">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>