<p id="notice"><%= notice %></p>

<%= form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <label class="control-label col-sm-4">Salon Name</label>
    <div class="col-sm-6">
      <%= f.select(:salon_id, Salon.all.collect { |i| [ i.salon_name, i.id ] }, {prompt: "Select Salon"}, {:class => 'form-control input-md bgbray'})%>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Branch Name</label>
    <div class="col-sm-6">
      <%= f.text_field :name, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">City</label>
    <div class="col-sm-6">
      <%= f.text_field :city, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Area</label>
    <div class="col-sm-6">
      <%= f.text_field :area, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>
  
  <div class="actions form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Create", class:"btn btn-block bgblue nextBtn btn-md pull-right margin-top" %>
    </div>
  </div>
<% end %>
