<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :service_name %><br>
    <%= f.text_field :service_name %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br>
    <%= f.text_field :total_amount %>
  </div>
  <div class="field">
    <%= f.label :booking_date %><br>
    <%= f.date_select :booking_date %>
  </div>
  <div class="field">
    <%= f.label :booking_time %><br>
    <%= f.time_select :booking_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
