<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img src="" alt="Maujan" title="Maujan" style="height:25px;" /></a>
  </div>
  
  <ul class="nav navbar-right top-nav">
    
    <li><%= link_to "Bookings", customers_path %></li>
    <li><%= link_to "Admin Panel", new_salon_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

  </ul>
</nav>

<div id="bg-home" class="">
  <div class="row setup-content">
    <div class="col-xs-12">
      <div class="col-md-12">
        <div class="panel-group margin-top">
          <div class="panel panel-default">
            <div class="panel-heading-blue">User Management</div>
            <div class="panel-body">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Users</h3>
                <% @users.each do |user| %>

                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th class="col-md-8">
                            <%= link_to user.email, edit_users_admin_path(user), remote: :true %>
                          </th>
                          <td class="col-md-2">
                            <%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-pencil"), edit_users_admin_path(user), remote: :true %>
                          </td>
                          <td class="col-md-2">
                            <%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-remove"), users_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                <% end %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <%= link_to content_tag(:span, '', :class=>"glyphicon glyphicon-plus") + " ADD USER", new_users_admin_path, remote: :true, id: "add_user_link", class:"col-sm-offset-4" %>
                </div>
                
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="get-user">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>