<p id="notice"><%= notice %></p>

<%= form_for(@salon) do |f| %>
  <% if @salon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salon.errors.count, "error") %> prohibited this salon from being saved:</h2>

      <ul>
      <% @salon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <label class="control-label col-sm-4">Salon Name</label>
    <div class="col-sm-6">
      <%= f.text_field :salon_name, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Salon Image</label>
    <div class="col-sm-6">
      <%= f.file_field :salon_img %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Salon Email</label>
    <div class="col-sm-6">
      <%= f.text_field :salon_email, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>

  <div class="field form-group">
    <label class="control-label col-sm-4">Owner Email</label>
    <div class="col-sm-6">
      <%= f.text_field :owner_email, class:"form-control input-md bgbray", required: "required" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Create", class:"btn btn-block bgblue nextBtn btn-md pull-right margin-top" %>
    </div>
  </div>

<% end %>