<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img src="" alt="Maujan" title="Maujan" style="height:25px;" /></a>
  </div>
  
  <ul class="nav navbar-right top-nav">
    
    <li><%= link_to "Bookings", customers_path %></li>
    <li><%= link_to "Users", users_admin_index_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

  </ul>
</nav>

<div id="bg-home">
  <div class="row setup-content">
    <div class="col-xs-12">
      <div class="col-md-12">
        <div class="panel-group margin-top">
          <div class="panel panel-default">
            <div class="panel-heading-blue">Admin Panel</div>
            <% if notice %>
              <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <p id="notice"><%= notice %></p>
              </div>
            <% end %>
            <div class="panel-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs nav-justified">
                  <li role="presentation" class="active" id="salon"><%= link_to 'Salon', new_salon_path, data: { toggle: 'tab' }, remote: true %></li>
                  <li role="presentation" id="branch"><%= link_to 'Branch', new_branch_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                  <li role="presentation" id="service_category"><%= link_to 'Service Category', new_service_category_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                  <li role="presentation" id="service"><%= link_to 'Service', new_service_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                  <li role="presentation" id="stylist_category"><%= link_to 'Stylist Category', new_stylist_category_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                  <li role="presentation" id="stylist"><%= link_to 'Stylist', new_stylist_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                  <li role="presentation" id="discount"><%= link_to 'Discount', new_discount_path, data: { toggle: 'tab' }, remote: true %>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="new_form" class="tab-pane fade in active margin-top">

										<%= render 'editor' %>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
