<p id="notice"><%= notice %></p>

<p>
  <strong>Salon name:</strong>
  <%= @salon.salon_name %>
</p>

<p>
  <strong>Salon Image:</strong>
  <%= image_tag @salon.salon_img %>
</p>

<p>
  <strong>Salon email:</strong>
  <%= @salon.salon_email %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @salon.owner_email %>
</p>

<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
