<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone no</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone no</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.email %></td>
        <td><%= a.phone_no %></td>
        <% a.bookings.each do |b| %>
          <% b.services.each do |c| %>
            <% binding.pry %>
            <td><%= c.service_name %></td>
          <% end %>
          <% b.booking_services.each do |d| %>
            <td><%= d.booking_date %></td>
            <td><%= d.booking_time %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
